@font-face {
    font-family: 'PT Sans';
    src: url("/fonts/ptsans-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url("/fonts/ptsans-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
font-family: "PT Sans", sans-serif;
font-size: 18px;
line-height: 21px;
font-weight: 400;
font-display: swap;
color: #242424;
background-color: #ffffff;
}

.navigation-link {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;}

.navigation-link-current {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    transform: capitalize;
    color: inherit;
    text-decoration: none;}

.introduction {
    text-align: center;
}

.welcome-to-sedona {
background-image:url("/images/index-background.jpg"), url('/images/hero/divider.svg');
background-repeat: no-repeat;
}

.welcome-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.welcome-description {
    font-family: 'PT Sans', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
}

.advantages-list {
    text-align: center;
}

.advantages-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
}

.advantages-description {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
}

.advantages-list-item-decorated {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color:#ffffff;
    background-color: #82b3d3;
}

.service-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color:#000000;
}

.service-description {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.search-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.search-description {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color:#333333;
}

.newsletter-subscription {
color: #ffffff;
background-image: url("/images/subscribe.jpg");
Width: 1200px;
Height: 414px;
background-repeat: no-repeat;
background-color: cornflowerblue;
text-align: center;
}

.hotels-catalog {
    color: #ffffff;
    background-image: url("/images/catalog/filter-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
}


.product-cards-link {
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.housing-type {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.housing-price {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.more {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #756157;
}

.button-favorite {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82b3d3;
}

.button-active {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #7db54f;
}

.hotel-rating {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
}


.newsletter-subscription-inner {
    color:#000000;
    background-color: #ffffff;
    text-align: center;
}

.subscription-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

.contacts-address a {
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}
