@font-face {
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: 'PT Sans';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
    margin:0;
    /* min-height: 100%; */
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    background-color: #F2F2F2;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Navigation panel */

.nav-panel {
    display: flex;
    flex-wrap: wrap;
    padding:0 70px;
}

.sedona-logo {
    width: 140px;
    height: 70px;
    margin-right: 28px;
    align-items: center;
}

.navigation-list {
    max-width: 465px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation-user {
    max-width: 270px;
    margin-left: auto;
}

.navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
}


.navigation-link {
    display:block;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
    padding:20px 16px;
}

.navigation-link-current {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: inherit;
    text-decoration: none;
}

.main-container {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex-grow: 1;
    width: 1200px;
    background-color: #FFFFFF;
}

.page-container {
    margin: 0 auto;
    width: 1200px;
}

.hero-introduction {
    padding-top: 69px;
    text-align: center;
}


.hero {
    width: 1200px;
    height: 485px;
    margin: 0 auto;
    background-color: #82B3D3;
    background-image: url("../images/hero/divider.svg"), url("../images/index-background.jpg");
    background-position: center bottom, center;
    background-repeat: no-repeat, no-repeat;
}

.hero-title {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    margin-bottom: 82px;
}

.hero-introduction-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin:0 290px;
    margin-bottom: 25px;
}

.hero-introduction-description {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 275px;
    margin-bottom: 90px;
}

/* advantages lists */

.advantages-list-decorated {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.advantages-list-item-decorated {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color:#ffffff;
    background-color: #82B3D3;
    width:400px;
    padding-top:92px;
}

.advantages-title-decorated {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color:#ffffff;
    background-color: #82B3D3;
    width: 175px;
    margin: 0 113px 62px;
}


.advantages-description-decorated {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color:#ffffff;
    background-color: #82B3D3;
    width:230px;

    margin:0 85px 111px ;
}

.advantages-list-item-img {
    display: flex;
}

.advantages-texts-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(131, 179, 211, 12%);
}

.advantages-list-item {
    width: 400px;
    padding-top: 103px;
}

.beautiful-road {
    background-color:rgba(131, 179, 211, 20%);
}

.advantages-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    width:175px;
    margin: 0 113px 62px;
}

.advantages-description {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #333333;
    width:230px;
    margin: 0 85px 121px ;
}

/*services list*/

.services-list {
    display: flex;
    text-align: center;
}


.services-list-item {
    padding-top:80px;
    width: 400px;
    background-color: rgba(131, 179, 211, 12%);
}

.service-icon {
    margin-top: 0;
    margin-bottom: 30px;
}

.food {
    background-color: #FFFFFF;
}

.service-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color:#000000;
    margin: 0 85px 30px;
}

.service-description {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #333333;
    margin: 0 85px 81px ;
}

/*hotels search*/

.hotels-catalog {
    padding: 35px 70px 70px 70px;
}

.inner-header-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    margin-bottom:8px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.breadcrumbs-link {
    margin-right: 28px;
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
}


.hotels-search {
    margin:0;
    padding-top:96px;
}

.search-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0 452px 20px;
}

.search-description {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color:#333333;
    margin: 0 303px 54px;
}

.hotels-search-button {
    display: block;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform:uppercase;
    text-decoration:none;
    text-align: center;
    margin: 0 412px 96px;
    padding: 8px 50px;
    background-color: #756157;
    color: #FFFFFF;
}

.fliters-buttons {
    display: flex;
    flex-direction: column;
}

.sorting-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 70px 0 70px;
}

.search-results {
    margin-right: 200px;
}

.select-control {
    margin-right: 70px;
}

.sorting-panel .button {
    width: 48px;
    height: 48px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
}


/*subscription*/

.newsletter-subscription {
    color: #FFFFFF;
    background-image: url("../images/subscribe.jpg");
    width: 1200px;
    height:414px;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    padding-top: 96px;
}

.newsletter-subscription-inner {
    color:#000000;
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}


.subscription-title {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 390px 20px;
}

.subscription-title-inner {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 390px 20px;
}

.subscription-text {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin: 0 360px 54px;
}

.newsletter-form {
    margin: 0 258px 104px;
}



/* Catalog filters */

.filters {
    display: flex;
    justify-content: space-around;
}
.catalog-filter-group {
    margin: 0;
    padding: 0;
    border-style: none;
}

.catalog-filter-list {
    width: 151px;
    margin-right: 70px;
}

.catalog-filter-title {
    margin-bottom: 32px;
}

.price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-style: none;
    width: 288px;
}


.result-panel {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.search-results {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.hotels-catalog {
    color: #FFFFFF;
    background-image: url("../images/catalog/filter-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
}

.hotels-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 20px;
}


/* Hotel cards */

.container-results {
    width: 1060px;
    padding-left: 70px;
    padding-top: 40px;
    margin-right: 70px;
}

.hotel-card {
    display: grid;
    width:340px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
}


.hotel-card-image {
    margin-top:0;
    margin-bottom: 16px;
}

.hotel-card-title {
    margin-top:0;
    margin-bottom: 16px;
}

.type-price {
    display:flex;
    flex-wrap:wrap;

}

.product-cards-link {
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}

.housing-type {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    flex-grow:1;
}

.housing-price {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.more {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #756157;
}

.button-favorite {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.button-active {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #7DB54F;
}

.hotel-rating {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-color: #F2F2F2;
}

.contacts-address a {
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
}

/*paginatio*/

.pagination-container {
    display: flex;
    padding: 40px 70px 60px 70px;
}

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 11px 24px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: rgba(130, 179, 211, 1);
    text-decoration: none;
}

    /*footer*/

.page-footer-container {
    display:flex;
    flex-wrap:wrap;
    padding-top:45px;
    padding-left:70px;
}

.footer-social-links {
    display: flex;
    flex-wrap: wrap;
    width:142px;
    margin-right: 236px;
    margin-bottom: 35px;
}

.social-links-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 142px;
}


.footer-social-item {
    min-width:47px;
    min-height:40px;
}

.phone-link {
    margin-right: 235px;
    margin-bottom: 35px;
}

.htmlacademy-link {
    margin-right: 70px;
    margin-bottom: 35px;
}
